<!--
  Generated template for the LandingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Take Your Pic!</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
 <img src="../assets/landingpic.png">
 <hr>
 <div >
 	<h5 align="center">Possibly a tutorial video^</h5>
 </div>

<div>
	<button style="width: 100%" ion-button large  (click)="photoTakers()">Photo Taker</button>
	<hr>
	<button style="width: 100%" ion-button outline large>Model</button>
</div>
</ion-content>
