<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Take Your Pic!</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h3>Welcome</h3>
  <img src="../assets/logopic.png">
  <div>
  <p>
    Whether your a professional photographer or hobbyiest looking for some extra income, this is the Channel for you!
  </p>
  <hr>
  <p>
    Have a specail occasion that you actually want to be apart of? Find a Photographer in the area with a skillset for your occasion :)
  </p>

  <button ion-button secondary (click)="login()" style="width: 100%">Facebook Login</button>
    
  </div>
  
</ion-content>
