<!--
  Generated template for the PhotoTakerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Make your Post</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

 <ion-card *ngIf="userData">
    <ion-card-header>{{ userData.username }}</ion-card-header>
    <img [src]="userData.picture" />
    <ion-card-content>
    <ion-item>
	    <ion-label color="primary">Name</ion-label>
	    <ion-input placeholder="Email" value="{{ userData.first_name }}"></ion-input>
	  </ion-item>
	  <ion-item>
	    <ion-label color="primary">Email</ion-label>
	    <ion-input type="email" placeholder="Email" value="{{ userData.email }}"></ion-input>
	  </ion-item>
	  <ion-item>
	    <ion-label color="primary">Phone</ion-label>
	    <ion-input type="tel" placeholder="555-123-5678" value=""></ion-input>
	  </ion-item>
	  <ion-item>
	    <ion-label color="primary">Website</ion-label>
	    <ion-input placeholder="www.yoursite.com" value=""></ion-input>
	  </ion-item>
	  <ion-item>
    		<ion-label>Link Facebook:</ion-label>
    		<ion-checkbox [(ngModel)]="fbCheck"></ion-checkbox>
  	  </ion-item>
	  
    </ion-card-content>
  </ion-card>
  <ion-card>
  <ion-card-header>
   		<ion-label color="primary">Location</ion-label>
   </ion-card-header>
  	<ion-card-content>
  	<ion-item>
	    <ion-label color="primary">Zipcode</ion-label>
	    <ion-input type="number" placeholder="44444" value=""></ion-input>
	  </ion-item>
  	    <ion-label color="primary">Radius</ion-label>
	  	<ion-range min="0" max="100" step="2" [(ngModel)]="saturation" color="secondary">
	      <ion-label range-left>0:miles</ion-label>
	      <ion-label range-right>100:miles</ion-label>
	    </ion-range>
	    <ion-item>
    		<ion-label>Use GPS Location:</ion-label>
    		<ion-checkbox [(ngModel)]="gpsCheck"></ion-checkbox>
  	  </ion-item>
  	</ion-card-content>
  </ion-card>
  <ion-card>
   <ion-card-header>
   		<ion-label color="primary">Post Body</ion-label>
   </ion-card-header>
  	<ion-card-content>
  	    <ion-item>
    <ion-textarea placeholder="Enter a description about your services and prices!"></ion-textarea>
    <button ion-button large>Post IT!</button>
  </ion-item>
  	</ion-card-content>
  </ion-card>
  <ion-card>
  	<ion-card-content>
    <ion-item>
   		<button ion-button style="width: 100%" large>Post IT!</button>
  	</ion-item>
  	</ion-card-content>
  </ion-card>
</ion-content>
